.Pokedex {
    display: grid;
    margin: 3em;
    grid-template-columns: repeat(5, 1fr);
    gap: 5%;
    background-color: green;

    .PokemonList {
        grid-column: 1 / 3;
        background-color: red;
    }

    .PokemonDetail {
        grid-column: 3 / 6;
        background-color: yellow;
    }
}
