@import "../../style/dark.colors.scss";

.AppBar {
    /* Styling */
    background: linear-gradient(#283e4b, #385769);
    box-shadow: 10px 5px 5px red;
    padding: 0.7rem 2rem;
    /* Layout */
    display: flex;
    align-items: center;

    /* AppBar Title */
    .AppBarTitle {
        font-weight: bold;
        font-size: 2rem;
    }

    .AppBarLogo {
        margin-right: 2rem;
    }
}
