@import "../../assets/style/dark.colors.scss";

.AppBar {
    /* Styling */
    background-color: $color-appbar;
    padding: 1rem 2rem;
    /* Layout */
    display: flex;
    align-items: center;

    /* AppBar Title */
    .AppBarTitle {
        font-weight: bold;
        font-size: 2rem;
    }

    .AppBarLogo {
        margin-right: 2rem;
    }
}
