// ----- MAIN COLORS -----

// foreground color, for texts mostly
$color-foreground: #e7e7e7;
// background color
$color-background: #3b5c6e;
// AppBar color
$color-appbar: #cecece;
// ----- SPECIFIC COLORS -----

$link-color: #61dafb;
