@import "../../../style/dark.colors.scss";

.Card {
    border-radius: 15px;
    padding: 1rem 0px;
    margin: 0.5em;
    cursor: pointer;
    background-color: $pokemon-card-color;
    color: $pokemon-card-font-color;

    &:hover {
        background-color: $pokemon-card-color-hover;
    }
}
