@import "style/dark.colors.scss";

.App {
    text-align: center;
    height: 100%;
    // flex container
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;

    .MainContent {
        flex-grow: 1;
        background-color: $color-background;
        // flex container
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        color: $color-foreground;
    }
}
