@import "style/dark.colors.scss";

.App {
    text-align: center;
    // take at least th ewhole page in height
    min-height: 100vh;
    // flex container
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.MainContent {
    // allow the main content to take all remaining space in the main axis
    flex-grow: 1;
    background-color: $color-background;
    // flex container
    // display: flex;
    // flex-direction: column;
    // -ms-flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // text style
    color: $color-foreground;
}
